<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Status</title>
    <script src="/static/js/d3.v4.min.js"></script>
    <script src="/static/js/velib_data.js"></script>
    <script src="/static/js/velib.js"></script>
</head>
<body>
<h1>Hello from the status page</h1>
<h2>Controls</h2>
<button id="add" onclick="startPrintingConnection()">Add connection</button>
<button id="send" onclick="sendMessage()">Send message</button>
<button id="close" onclick="closeConnections()">Close connections</button>
<button id="clean" onclick="cleanMessages()">Clean messages</button>
<h2>Controls</h2>
<div id="messages">
</div>

<svg width="100%" viewBox="0 0 1000 400"></svg>
<script>oneShot();</script>
</body>

</html>